---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Launches">
	<div class="mt-10">
		<a 
			href="/launches"
		>
			<button 
				class="font-2xl uppercase font-bold text-white text-center hover:bg-slate-700 bg-slate-500 rounded-lg p-3"
			>Launches</button>
		</a>	
	</div>
</Layout>